html {
  font-size: 100%;
  display: block;
}
head{
  display: none;
}
body {
  display: block;
  margin: 0;
  font-family: "Open Sans", "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  cursor: pointer;
  font-family: inherit;
}
.container {
    min-height: 100vh;
    height: 100%;
    background: rgb(241, 241, 241);
}
div{
  display: block;
  unicode-bidi: isolate;
}
@media (max-width: 768px) {
    .row-group {
        padding-top: 24px;
    }
}
@media (max-width: 860px) {
    .row-group {
        column-gap: 36px;
    }
}
.row-group {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 32px 80px;
    max-width: 912px;
    padding: 60px 16px;
    margin-left: auto;
    margin-right: auto;
}
h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.naming{
  grid-column: 1/ -1;
  text-transform: uppercase;
  margin: 0px;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: rgb(0, 25, 61);
}
@media (max-width: 768px){
  .naming{
    font-size: 2rem;
  }
}
.preview{
  display: grid;
  row-gap: 32px;
}
@media (max-width: 768px){
.preview{
  grid-template-columns: min(90%, 360px) 45px;
}
}
.default-style-img{
  height: 360px;
  width: 360px;
  max-width: 360px;
  max-height: 360px;
  transition: background-color 0.3s;
  background-color: rgb(0, 75, 102);
  position: relative;
}
@media (max-width: 768px){
  .default-style-img{
    height: 0px;
    width: 90%;
    padding-bottom: min(90%, 360px);
  }
}
img{
  overflow-clip-margin: content-box;
  overflow: clip;
}
.default-imgs{
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}
button{
  appearance: auto;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  cursor: pointer;
  font-family: inherit;
}
.randomBtn, .downloadBtn {
  min-width: 170px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: #3f3d56;
  padding: 12px 8px;
  outline: none;
}
@media (max-width: 768px){
  .randomBtn, .downloadBtn {
    transform-origin: left top;
    transform: rotate(90deg);
    margin-left: 20px;
    position: absolute;
  }
}
.randomIcon, .downloadIcon{
  margin-right: 8px;
  display: inline-block;
}
@media (max-width: 768px){
  .randomIcon, .downloadIcon{
    transform: rotate(-90deg);
  }
}
.accessorize {
  max-width: 364px;
}
@media (max-width: 768px){
  .accessorize {
  max-width: 100%;
}
}
h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
.text-h {
  font-size: 0.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: rgb(0, 45, 61);
  margin: 0px 0px 12px;
}
@media (max-width: 768px){
  .text-h {
    font-size: 0.75rem;
  }
}
.default{
  padding: 12px 32px;
  border: 1px solid rgb(139, 183, 249);
  border-radius: 30px;
  color: rgb(139, 183, 249);
  outline: none;
  font-size: 1rem;
  line-height: 1.2;
}
@media (max-width: 768px){
.default{
  font-size: 0.875rem;
  padding: 8px 20px;
}
}
.accBtn{
  margin-right: 8px;
  margin-bottom: 8px;
}
@media (max-width: 768px){
.accBtn{
  margin-right: 4px;
  margin-bottom: 4px;
}
}
.default:hover,  .default:focus{
  padding: 11px 31px;
  border: 2px solid rgb(85, 150, 246);
  color: rgb(85, 150, 246);
  font-weight: bold;
}
.default.default {
  padding: 12px 32px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  background: rgb(42, 92, 167);
  border: 1px solid rgb(42, 92, 167);
}
@media (max-width: 768px){
.default:hover, .default:focus{
  padding: 7px 19px;
}
}
@media (max-width: 768px){
.default:hover, .default:focus{
  padding: 8px 20px;
}
}
.styling-container1{
  margin-top: 24px;
}
@media (max-width: 768px) {
.styling-container1 {
  margin-top: 10px;
}
}
.add-ons{
  padding: 12px 32px;
  border: 1px solid rgb(139, 183, 249);
  border-radius: 30px;
  color: rgb(139, 183, 249);
  outline: none;
  font-size: 1rem;
  line-height: 1.2;
}
@media (max-width: 768px){
  .add-ons{
    font-size: 0.875rem;
    padding: 8px 20px;
  }
}